<h2 id="title">Books List</h2>

Bulk Actions:
<button {{action this.hideAllSelected}}>Hide</button>
<button {{action this.showAllSelected}}>Show</button>
<button {{action this.selectAll}} disabled={{eq selectedBookIds.length sortedBooks.length}}>Select All</button>
<button {{action this.unselectAll}} disabled={{eq selectedBookIds.length 0}} >Unselect All</button>

<div class="table table--5cols">
  <div class="table-row">
    <SortableHeader @columnName="Name" @sortBooks={{action this.sortBooks}} @sortProperty='name' />
    <SortableHeader @columnName="Author" @sortBooks={{action this.sortBooks}} @sortProperty='author' />
    <SortableHeader @columnName="Publication Year" @sortBooks={{action this.sortBooks}} @sortProperty='publicationYear' />
    <SortableHeader @columnName="Pages" @sortBooks={{action this.sortBooks}} @sortProperty='pages' />
    <SortableHeader @columnName="Actions" />
  </div>


  {{#each shownBooks as |book index|}}
    <BookTableRow @book={{book}}
                  @selectedBookIds={{this.selectedBookIds}}
                  @toggleSelection={{action this.toggleSelection}}
                  @toggleHidden={{action this.hideBook}}
                  @toggleText="Hide"
                  @index={{index}} />
  {{else}}
    <div class="table-row"><p>All your books are hidden.</p></div>
  {{/each}}

  {{#if hiddenBooks}}<h2>Hidden Books</h2>{{/if}}

  {{#each hiddenBooks as |book index|}}
    <BookTableRow @book={{book}}
                  @selectedBookIds={{this.selectedBookIds}}
                  @toggleSelection={{action this.toggleSelection}}
                  @toggleHidden={{action this.showBook}}
                  @toggleText="Show"
                  @index={{index}} />
  {{/each}}
</div>
{{outlet}}
