<h2 id="title">Companies List</h2>

Selected: {{selectedBook.name}}

<div class="table table--4cols">
  <div class="table-row">
    <SortableHeader @columnName="Name" @sortBooks={{action "sortBooks"}} @sortProperty='name' />
    <SortableHeader @columnName="Author" @sortBooks={{action "sortBooks"}} @sortProperty='author' />
    <SortableHeader @columnName="Publication Year" @sortBooks={{action "sortBooks"}} @sortProperty='publicationYear' />
    <SortableHeader @columnName="Pages" @sortBooks={{action "sortBooks"}} @sortProperty='pages' />
  </div>

  {{#each shownBooks as |book|}}
    <div class="table-row" {{action selectBook book}}>
      <div class="table-cell">{{book.name}}</div>
      <div class="table-cell">{{book.author}}</div>
      <div class="table-cell">{{book.publicationYear}}</div>
      <div class="table-cell">{{book.pages}}</div>
    </div>
  {{/each}}
</div>
{{outlet}}
