<h2 id="title">Companies List</h2>

<div class="Rtable Rtable--4cols">
  <div class="Rtable-cell header">Name</div>
  <div class="Rtable-cell header">Author</div>
  <div class="Rtable-cell header">Publication Year</div>
  <div class="Rtable-cell header">Pages</div>

  {{#each sortedBooks as |book|}}
    <div class="Rtable-cell">{{book.name}}</div>
    <div class="Rtable-cell">{{book.author}}</div>
    <div class="Rtable-cell">{{book.publicationYear}}</div>
    <div class="Rtable-cell">{{book.pages}}</div>
  {{/each}}
</div>
{{outlet}}
