<h2 id="title">Companies List</h2>

Selected: {{selectedBook.name}}

<div class="table table--4cols">
  <div class="table-row">
    <div class="table-cell header">
      <span {{action 'sortBooks' 'name' true}} class="clickable">&uarr;</span>
      <span {{action 'sortBooks' 'name' false}} class="clickable">&darr;</span>
      Name
    </div>
    <div class="table-cell header">
      <span {{action 'sortBooks' 'author' true}} class="clickable">&uarr;</span>
      <span {{action 'sortBooks' 'author' false}} class="clickable">&darr;</span>
      Author
    </div>
    <div class="table-cell header">
      <span {{action 'sortBooks' 'publicationYear' true}} class="clickable">&uarr;</span>
      <span {{action 'sortBooks' 'publicationYear' false}} class="clickable">&darr;</span>
      Publication Year
    </div>
    <div class="table-cell header">
      <span {{action 'sortBooks' 'pages' true}} class="clickable">&uarr;</span>
      <span {{action 'sortBooks' 'pages' false}} class="clickable">&darr;</span>
      Pages
    </div>
  </div>

  {{#each sortedBooks as |book|}}
    <div class="table-row" {{action selectBook book}}>
      <div class="table-cell">{{book.name}}</div>
      <div class="table-cell">{{book.author}}</div>
      <div class="table-cell">{{book.publicationYear}}</div>
      <div class="table-cell">{{book.pages}}</div>
    </div>
  {{/each}}
</div>
{{outlet}}
