<h2 id="title">Companies List</h2>

Selected: {{selectedBook.name}}

<div class="table table--5cols">
  <div class="table-row">
    <SortableHeader @columnName="Name" @sortBooks={{action "sortBooks"}} @sortProperty='name' />
    <SortableHeader @columnName="Author" @sortBooks={{action "sortBooks"}} @sortProperty='author' />
    <SortableHeader @columnName="Publication Year" @sortBooks={{action "sortBooks"}} @sortProperty='publicationYear' />
    <SortableHeader @columnName="Pages" @sortBooks={{action "sortBooks"}} @sortProperty='pages' />
    <SortableHeader @columnName="Actions" />
  </div>

  {{#each shownBooks as |book|}}
    <div class="table-row" {{action selectBook book}}>
      <div class="table-cell">{{book.name}}</div>
      <div class="table-cell">{{book.author}}</div>
      <div class="table-cell">{{book.publicationYear}}</div>
      <div class="table-cell">{{book.pages}}</div>
      <div class="table-cell"><button {{action hideBook book}}>Hide</button></div>
    </div>
  {{/each}}

  {{#if hiddenBooks}}<h2>Hidden Books</h2>{{/if}}
  
  {{#each hiddenBooks as |book|}}
    <div class="table-row" {{action selectBook book}}>
      <div class="table-cell">{{book.name}}</div>
      <div class="table-cell">{{book.author}}</div>
      <div class="table-cell">{{book.publicationYear}}</div>
      <div class="table-cell">{{book.pages}}</div>
      <div class="table-cell"><button {{action showBook book}}>Show</button></div>
    </div>
  {{/each}}
</div>
{{outlet}}
