<h2 id="title">Books List</h2>

Bulk Actions:
<button {{action 'hideAllSelected'}}>Hide</button>
<button {{action 'showAllSelected'}}>Show</button>
<button {{action 'selectAll'}}>Select All</button>
<button {{action 'unselectAll'}}>Unselect All</button>

<div class="table table--5cols">
  <div class="table-row">
    <SortableHeader @columnName="Name" @sortBooks={{action "sortBooks"}} @sortProperty='name' />
    <SortableHeader @columnName="Author" @sortBooks={{action "sortBooks"}} @sortProperty='author' />
    <SortableHeader @columnName="Publication Year" @sortBooks={{action "sortBooks"}} @sortProperty='publicationYear' />
    <SortableHeader @columnName="Pages" @sortBooks={{action "sortBooks"}} @sortProperty='pages' />
    <SortableHeader @columnName="Actions" />
  </div>


  {{#each shownBooks as |book|}}
    <BookTableRow @book={{book}}
                  @selectedBookIds={{selectedBookIds}}
                  @toggleSelection={{action "toggleSelection"}}
                  @toggleHidden={{action "hideBook"}}
                  @toggleText="Hide" />
  {{else}}
    <div class="table-row"><p>All your books are hidden.</p></div>
  {{/each}}

  {{#if hiddenBooks}}<h2>Hidden Books</h2>{{/if}}

  {{#each hiddenBooks as |book|}}
    <BookTableRow @book={{book}}
                  @selectedBookIds={{selectedBookIds}}
                  @toggleSelection={{action "toggleSelection"}}
                  @toggleHidden={{action "showBook"}}
                  @toggleText="Show" />
  {{/each}}
</div>
{{outlet}}
