<h2 id="title">Companies List</h2>

<div class="table table--5cols">
  <div class="table-row">
    <SortableHeader @columnName="Name" @sortBooks={{action "sortBooks"}} @sortProperty='name' />
    <SortableHeader @columnName="Author" @sortBooks={{action "sortBooks"}} @sortProperty='author' />
    <SortableHeader @columnName="Publication Year" @sortBooks={{action "sortBooks"}} @sortProperty='publicationYear' />
    <SortableHeader @columnName="Pages" @sortBooks={{action "sortBooks"}} @sortProperty='pages' />
    <SortableHeader @columnName="Actions" />
  </div>


  {{#each shownBooks as |book|}}
    <BookTableRow @book={{book}}
                  @selectedBookIds={{selectedBookIds}}
                  @toggleSelection={{action "toggleSelection"}}
                  @toggleHidden={{action "hideBook"}}
                  @toggleText="Hide" />
  {{/each}}

  {{#if hiddenBooks}}<h2>Hidden Books</h2>{{/if}}

  {{#each hiddenBooks as |book|}}
    <BookTableRow @book={{book}}
                  @selectedBookIds={{selectedBookIds}}
                  @toggleSelection={{action "toggleSelection"}}
                  @toggleHidden={{action "showBook"}}
                  @toggleText="Show" />
  {{/each}}
</div>
{{outlet}}
